<!DOCTYPE html>
<html lang='en' ng-app="videoApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Video Player</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="video-player.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
	
</head>
<body ng-controller="VideoController">

	<div id="fullPlayer" class="unselectable ng-cloak">
			<div class="embed-responsive embed-responsive-16by9">
				<video id="videoElement" ng-click="togglePlay()" width="100%" height="100%" src="{{videoSource}}"></video>
			</div>
			<div id="bigPlayButton" ng-click="togglePlay()" ng-hide="videoPlaying" class="well">
				<span class="glyphicon glyphicon-play"></span>
			</div>
			<div id="videoTitle" ng-hide="videoPlaying">{{titleDisplay}}</div>
			
			<div id="playerToolBar">
				<a id="playBtn" ng-click="togglePlay()" class="btn btn-default"><span class="glyphicon glyphicon-play"></span></a>
				<a id="muteBtn" ng-click="toggleMute()" class="btn btn-default"><span class="glyphicon glyphicon-volume-up"></span></a>
				<span id="videoTime">00:00:00 /00:00:00</span>
			</div>	
		</div>	


	<script>
		var videoSource = "video/clip-nature.mp4";
		var titleDisplay = "Nature video"
		var videoDescription = "Just a short video that I found for this project";

	</script>
	
	
	<script src="video-app.js"></script>
</body>
</html>